
<%= render 'partials/header' %>
<div id="wrapper">
<section id="summary" class="section" style="width:49%; align:left; position:absolute;">
<div id="movie-title"><%= @movie.title %></div>
<p><br>
<%= raw @movie.description %>
</p>


</section>



<section style="width:49%; right:0; position:absolute;" id="explanation">
<iframe style="width:100%;" class="section" >

  <p>Your browser does not support iframes.</p>
</iframe>
</section>
</div>