// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
	overflow: hidden;
}


#summary{
	padding-top:15px;
	margin:0px 0 0 20px;
	padding-right:6px;
	font-size:18px;
	font-family:ProximaNova-Light;
	overflow:auto;
}

a:active{
	color:red;
}

#movie-title {
	
	font-size:40px;
	color:#5dbcd0;
}

